language: go

go:
  - 1.10.x
  - 1.11.x

env:

before_install:
 #- go get -u github.com/haya14busa/goverage
  - docker run -p 9851:9851 tile38/tile38
  - go get -u github.com/tesujiro/smf3

script:
  - go test -v -coverprofile=coverage.txt -covermode=count ./data/db

after_success:
  - bash <(curl -s https://codecov.io/bash)
