<!DOCTYPE html>
<html lang="ja">
<head>
	<title>Consumer Manual Tester</title>
	<meta name="viewport" content="initial-scale=1.0">
	<meta charset="utf-8">
	<script src="/static/js/common.js"></script>
	<script src="/static/js/footway.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key={{.APIKEY}}"></script>
	<script>
window.onload = function(){
	initMap();
};
	</script>
	<style>
#map {
	height: 500px;
	width: auto;
}
	</style>
</head>
<body>
	<div id="currentLat"></div>
	<div id="currentLon"></div>
	<div id="map"></div>
	<form name="update">
		<input type="button" value="Reset" onClick="initMap()">
		<input type="button" value="Footway" onClick="toggleFootway()">
	</form>
</body>
</html>
